/vendor
*.sqlite
/reset-backup.sh
/recompose.sh
/prototyping/ssl/server.key
/prototyping/ssl/server.pem
/prototyping/ssl/server.crt
/prototyping/ssl/ca.crt
/prototyping/ssl/combined.pem
/notes.txt
/example.txt
/nbproject
/prototyping/library
/prototyping/library02
/prototyping/library02.php
/prototyping/reset-library02.sh
/prototyping/restore02
/prototyping/ssl/ssl-cert.php